{% extends 'base.html.twig' %}

{% block title Projet.titre %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md 8">
            {% if Projet.filename%}
                <img  src="{{ vich_uploader_asset(Projet,'imageFile')}}" alt="card-img-top" style="width: 100%; height: auto">


            {% endif %}

        </div>
        <div class="col-md-4">
            <h1>{{ Projet.titre }}</h1>
            <h4 class="font-weight-light">{{ Projet.description | nl2br}}</h4>
            <h5>Superficie de : {{ Projet.superficie }} km²</h5>

        </div>


    </div>
    <div class="nav nav nav-tabs" id="tabb"></div>

</div>
{% endblock %}